:root {
	font-family: 'Montserrat', sans-serif;
	font-size: 12.5px;

	/*variables*/

	--nav-text: rgb(255, 255, 255);
	--nav-hover: rgb(0, 238, 255);
	--footer-text: rgb(255, 255, 255);
	--main-background: rgb(230, 255, 242);
	--main-title: rgb(255, 0, 200);
	--main-description: rgb(0, 65, 48);
	--price-text: rgb(0, 0, 0);
	--calculator-tip: rgb(134, 0, 243);
	--calculator-button-text-color: rgb(240, 255, 255);
	--calculator-button-background: rgb(134, 0, 243);
	--calculator-result: rgb(134, 0, 243);
}

.background {
	background: var(--main-background);
}

.main-title {
	font-weight: bold;
	font-size: 2.3em;
	text-align: center;
	color: var(--main-title);
	padding-top: 10%;
	padding-bottom: 10%;
}

.main-description {
	font-size: 1.7em;
	text-align: center;
	padding: 0% 4% 4% 4%;
	color: var(--main-description);
	word-spacing: 4px;
	line-height: 150%;
}
