.nav {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 51%,
		rgba(252, 176, 69, 1) 100%
	);
	padding: 4%;
	text-align: end;
}

.nav-items {
	display: inline;
	padding: 1.5%;
	margin-left: 1%;
}

.anchor {
	text-decoration: none;
	font-size: 1.8em;
	color: var(--nav-text);
}

.anchor:hover {
	color: var(--nav-hover);
}

@media screen and (min-width: 500px) {
}
