.nav {
	background: linear-gradient(135deg, #a0fe65 10%, #fa016d 100%);
	text-align: end;
	padding-bottom: 6%;
	padding-right: 6%;
}

.nav-items {
	display: inline;
	padding: 1.5%;
	margin-left: 1%;
}

.nav-logo {
	text-align: left;
}

.nav-logo-icon {
	width: 7%;
}

.anchor {
	text-decoration: none;
	font-size: 1.8em;
	color: var(--nav-text);
}

.anchor:hover {
	color: var(--nav-hover);
}

@media screen and (min-width: 500px) {
}
